{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<!--<div class="site-blocks-cover overlay" style="background-image: url({% static 'images/therapyreg.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">-->
  <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10">
            <div class="row justify-content-center mb-4">
              <div class="col-md-10 text-center">
                <h1></h1>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mb-5"  data-aos="fade">
            <form action="" class="p-5 bg-white" style="margin-top: -150px;" method="post" enctype="multipart/form-data">
              {% csrf_token %}
                

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="name">Full Name</label>
                  <input type="text" id="name" name="name" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = ''" autocomplete="off" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="phone">Contact Number</label>
                  <input type="text" id="phone" name="phone" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" pattern="[6-9]{1}[0-9]{9}" title="Enter 10 digit number"required>
                </div>
              </div>
              <div class="row form-group">               
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" name="email" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required>
                  </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label class="text-black" for="location">Registration Number(RIC)</label> 
                  <input type="text" id="regnum" name="regnum" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'RIC'" pattern="[0-9]{5}" title="Enter correct format(XXXXX)" required>
                  </div>

               <div class="col-md-6">
    <label class="text-black" for="type">Area of expertise</label>
    <select id="type" name="type" class="form-control" required>
      <!-- <option  disabled selected>Select an Option</option> -->

        <option value="Relation Problem">Relation Problem</option>
        <option value="Depression Treatment">Depression Treatment</option>
        <option value="Family Problem">Family Problem</option>
        <option value="Personal Problem">Personal Problem</option>
        <option value="Business Problem">Business Problem</option>
    </select>
    <div class="invalid-feedback">Please select an option.</div>
</div>
<div class="col-md-12">
  <label class="text-black" for="quali">Qualification</label>
  <select id="quali" name="quali" class="form-control" required>
    <!-- <option disabled selected>Select an Option</option> -->

      <option value="BA Psychology">BA Psychology</option>
      <option value="MA Psychology">MA Psychology</option>
      <option value=" BSc Psychology"> BSc Psychology</option>
      <option value="MSc Psychology">MSc Psychology</option>
      <option value="MSW in Counseling">MSW in Counseling</option>
      <option value="M.Ed in Counseling">M.Ed in Counseling</option>
  </select>
  <div class="invalid-feedback">Please select an option.</div>
</div>

              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="exp">Experience in Years</label>
                  <input type="number" id="exp" name="exp" class="form-control" required>
                  </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="about">About</label>
                  <input type="text" id="myInput" name="about" class="form-control"  onblur="validateInput()" required>
                  </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="location">Location</label> 
                  <input type="text" id="myInput" name="location" class="form-control" onblur="validateInput()" required>
                  </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="location">Hospital Name(Presently Working..)</label> 
                  <input type="text" id="myInput" name="hname" class="form-control" onblur="validateInput()" required>
                  </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="fees">Fees</label> 
                  <input type="text" id="myInput" name="fees" class="form-control" onblur="validateInput()" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" pattern="([1-3][0-9][0-9]|400)" title="Enter the fees in range 100-400" required>
                  </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="location">Pin Code</label> 
                  <input type="number" id="pincode" name="pincode" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pincode'" pattern="[0-9]{6}" title="Enter 6 igit format(XXXXXX)"  required>
                  </div>
              </div>
              
    <div class="col-md-12">
        <label class="text-black" for="working-time">Working Time (Eg.00am-00pm)</label>
        <select id="quali" name="working-time" class="form-control" required>

          <option value="10.00am-12.00pm(Mon-Sat)">10.00am-12.00pm(Mon-Sat)</option>
          <option value="02.00pm-04.00pm(Mon-Sat)">02.00pm-04.00pm(Mon-Sat)</option>
          <option value="10.00am-05.00pm(On Sundays)">10.00am-05.00pm(On Sundays)</option>
          <option value="06.00-09.00(Mon-Sat)">06.00-09.00(Mon-Sat)</option>
        </select>
    </div>



              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="image">Uplaod Image</label> 
                  <input type="file" id="image" name="image" class="form-control"  accept="image/x-png,image/gif,image/jpeg,image/jpg" required>
                  </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="password">Password</label> 
                  <input type="password" id="password" name="password" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" pattern = "[0-9]).{1,}[a-z]).{1,}[A-Z]).{8,}" title="Eight or more characters" required>
                </div>
              </div>
              

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Register Here" class="btn btn-pill btn-primary btn-md text-white">
                </div>
              </div>

  
            </form>
          </div>
          <div class="col-md-5"  data-aos="fade" data-aos-delay="100">
             <a href="#" class="thumbnail-link d-block mb-4"><img src="{% static 'images/therapyreg.jpg' %}" alt="Image" class="img-fluid"></a>

            <div class="p-4 mb-3 bg-white">
              

            </div>
            
            <div class="p-4 mb-3 bg-white">
            </div>

          </div>
        </div>
      </div>
    </div>
    
    <script>
      function validateInput() {
          var input = document.getElementById('myInput');
          if (input.value.trim() !== input.value) {
              alert('Leading white space is not allowed!');
              input.value = input.value.trim(); // Remove leading white space
              input.focus(); // Set focus back to the input field
          }
      }
    </script>
    

    
    
    {% endblock %}